auslandweixin/src/main/resources/getLogisticInformation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="back">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="kdgsname"/>
        <xs:element type="xs:long" name="kdgsdh"/>
        <xs:element type="xs:long" name="fydh"/>
        <xs:element type="xs:string" name="countrytype"/>
        <xs:element name="Logisticsback" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ztai"/>
              <xs:element type="xs:string" name="time"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>