auslandweixin/src/main/resources/getTelTofydh.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tel">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="message"/>
        <xs:element type="xs:string" name="issuccess"/>
        <xs:element name="fydhlist">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="chrfydh"/>
              <xs:element type="xs:string" name="chrdysj"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>